.signup-wrapper {
  .signup-title {
    font-size: 45px;
    font-weight: 700;
    color: #000;
  }

  .learn-more-btn {
    background-color: red;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    width: fit-content;
    outline: none;
    border: 0;
  }
}
.input-field {
  color: #000;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 500;
  line-height: 20px;
  outline: none;
  border-radius: 5px;
  border: 0;
  &::placeholder {
    color: lightgrey;
  }
}
.red-bg-wrapper {
  background-color: red;
  justify-content: center;
  padding: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  .red-bg-text {
    font-size: 20px;
    color: white;
    font-weight: 800;
  }
}
.input-wrapper {
  background-color: grey;
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
