.bg-img {
  height: 80hv;
  background-image: url(../../shared/assets/images/bg.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.receipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
