.page-eat-it-container {
  .eat-it-title {
    font-size: 45px;
    font-weight: 800;
    color: red;
    
    text-transform: uppercase;
    text-align: center;
  }
  .favorite-receipe-wrapper{
    background-color: white;
    padding: 40px 40px 40px 40px;
    width: 35%;
    text-align: left;
    bottom: 0;
    right: 15px;
    .favorite-receipe-text{
        font-size: 20px;
        font-weight: 800;
        
    }
    .learn-more-btn{
        background-color: red;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        padding: 10px 15px;
        border-radius: 8px;
        width: fit-content;
        outline: none;
        border: 0;
    }
  }
}
